.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 48px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #79797A;
    border: 1px solid #79797A;
    transition: .4s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14.8px;
    width: 14.8px;
    border-radius: 50%;
    left: 4px;
    bottom: 4px;
    background-color: #FFFFFF;
    transition: .4s;
}

input:checked+.slider {
    background-color: #8DC63F;
    border: 1px solid #8DC63F;
}

input:focus+.slider {
    box-shadow: 0 0 1px #8DC63F;
}

input:checked+.slider:before {
    transform: translateX(22.4px);
    background-color: #FFFFFF;
}